<section>
    <h1>Subscribe</h1>
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
        <form action="http://dahlen.us6.list-manage.com/subscribe/post?u=5acc6f9ea9&amp;id=e6d3f67e16"
              method="post"
              id="mc-embedded-subscribe-form"
              name="mc-embedded-subscribe-form"
              class="validate"
              target="_blank" novalidate>
            <div class="mc-field-group">
                <label for="mce-EMAIL">Enter your email to receive updates</label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <div class="clear">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
            </div>
        </form>
    </div>
    <!--End mc_embed_signup-->
</section>
